 /* Stylesheet */

#page{
    text-align: center;
    margin: 0 auto;
}

 body {
     background-image: url(https://images.launchbox-app.com/7e096bd2-c740-4e8f-8262-b56a2ed9c0bd.jpg);
     background-size: 100%;
     background-repeat: no-repeat;

 }

 p {
    margin: 0;
 }
 #crystalBox {
    background-color: rgba(0, 0, 0, .8);
    margin: -16 auto;
 }

 .crystal {
     width: 10%;
 }

 #crystal5 {
     height:100px;
 }

 header {
     background-color: rgba(0, 151, 10, .9);
     margin: 0 auto;
     text-align: center;
     margin-top: 5px;
 }

 #title {
     font-size: auto;
     font-family: 'Press Start 2P', cursive;
     animation: blinkingText 2s infinite;
 }

 @keyframes blinkingText {
     0% {color: rgb(246, 207, 0)}
     24% {color: rgb(246, 207, 0);}
     25% {color: transparent;}
     49% {color: transparent;}
     50% {color: rgb(246, 207, 0);}
     74% {color: rgb(246, 207, 0);}
     75% {color: transparent;}
     99% {color: transparent;}
     100% {color: rgb(246, 207, 0);}
 }

 #instructions, #scoreboard, #target {
     background-color: rgba(0, 0, 0, .8);
     color: green;
     font-family: 'Press Start 2P', cursive;
     font-size: 10px;
     text-align: center;
 }

 #scoreboard, #target {
     font-size: 20px;
 }

 #target-number,  #losses, #suddenDeathInstruction{
     color: rgb(181, 20, 63);
 }

 #total, #wins {
     color: rgb(246, 207, 0);
 }

 .buttons {
    font-family: 'Press Start 2P', cursive;
     font-size: 10px;
 }